.planetBox{
    border: 2px solid black;
    width: 360px;
    height: 300px; 
    overflow-y: scroll;
}

/* To remove scrollbar use this code */
/* .planetBox::-webkit-scrollbar {
    display: none;
} */

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: rgba(0,0,255,0.5);
    margin: 2px;
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
}